<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登陆</title>
    <!-- zui -->
    <link href="//cdn.bootcss.com/zui/1.7.0/css/zui.min.css" rel="stylesheet">
</head>
<body>

    <div class="container-fluid">

        <form action="#" method="post">
            <div class="input-group" style="width: 500px; margin-top: 50px;">
                <span class="input-group-addon">Login:</span>
                <input type="text" name="user" class="form-control" placeholder="Username">
                <span class="input-group-addon fix-border fix-padding"></span>
                <input type="text" name="pwd" class="form-control" placeholder="Password">

                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">确认</button>
                </span>
            </div>
        </form>

    </div>

</body>

</html>